@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700|Roboto:100,300,400,700&subset=cyrillic');

*
	box-sizing: inherit

html
	box-sizing: border-box
	background: #fff 
	font 16px PTSans, sans-serif
	
.container
	width 960px
	padding 0 10px
	margin 0 auto

.header-menu
	min-height 70px
	background #2D2D2D
	color #fff

.start-block
	min-height 820px
	background url("../img/hero_image_1.jpg") no-repeat center center
	background-size cover

.block-2
	min-height 735px
	background url("../img/hero_image_2.jpg") no-repeat center center
	background-size cover

.block-3
	min-height 680px
	background url("../img/hero_image_3.jpg") no-repeat center center
	background-size cover









//ОФОРМЛЕНИЕ_________________

.header-menu .container
	display flex
	justify-content space-between
	ul
		margin 0
		padding 0
		list-style none
		li 
			display inline-block
			margin 0
			padding 0
			a
				display block
				text-decoration none
				font-family 'Tahoma', sans-serif
				margin 0
				padding 23px 23px
				font-size 18px
				line-height 24px
				color #fff
				text-transform uppercase
				&:hover
						background #242424
	.phone-block
		width 260px
		text-align right
		padding-top 12px
		.phone
			font-family 'Roboto', sans-serif
			font-size 20px
			font-weight 100
			margin-bottom 4px
		.phone-link
			font-family 'Roboto'
			font-size 14px
			font-weight 100
			text-decoration none
			color #fff
			border-bottom 1px dotted #fff
		
			
				
































