@import url('https//fonts.googleapis.com/css?family=Open+Sans300,400,700|PT+Sans400,700|Roboto100,300,400,700&subset=cyrillic')
@font-face
    font-family Helvetica light  /* Имя шрифта */
    src url(fonts/HelveticaLight.ttf) /* Путь к файлу со шрифтом */
@font-face
    font-family Helvetica medium  /* Имя шрифта */
    src url(fonts/HelveticaMedium.ttf) /* Путь к файлу со шрифтом */    



*
	box-sizing inherit

html
	box-sizing border-box
	background #fff 
	font 16px PTSans, sans-serif
	
.container
	width 960px
	padding 0 10px
	margin 0 auto

.flex-wrapper
	display flex
	justify-content space-between

.header-menu
	min-height 70px
	background #2D2D2D
	color #fff
	img
		margin-top 5px

.start-block
	min-height 820px
	background url("../img/hero_image_1.jpg") no-repeat center center
	background-size cover

.block-2
	min-height 735px
	background url("../img/hero_image_2.jpg") no-repeat center center
	background-size cover

.block-3
	min-height 680px
	background url("../img/hero_image_3.jpg") no-repeat center center
	background-size cover
	position relative
	padding-top 50px
	img
		top 80px
	div
		display flex

.block-4
	.mirror-1
		min-height 700px
		background url("../img/mirror1.jpg") no-repeat center center
		background-size cover
	.mirror-2
		min-height 700px
		background url("../img/mirror2.jpg") no-repeat center center
		background-size cover
	.mirror-3
		min-height 700px
		background url("../img/mirror3.jpg") no-repeat center center
		background-size cover
	.mirror-4
		min-height 700px
		background url("../img/mirror4.jpg") no-repeat center center
		background-size cover


.block-5
	min-height 890px
	background url("../img/hero_image_5.jpg") no-repeat center center
	background-size cover

.block-6
	min-height 500px
	background #000
	.container
		min-height 500px
		background url("../img/hero_image_6_center.jpg") no-repeat center center

.block-7
	min-height 490px
	background url("../img/hero_image_7.jpg") no-repeat center center
	background-size cover

.block-8
	min-height 618px
	background url("../img/hero_image_8.jpg") no-repeat center center
	background-size cover

.block-9
	min-height 770px
	background url("../img/hero_image_9.jpg") no-repeat center center
	background-size cover

.block-10
	min-height 400px
	background url("../img/hero_image_10.jpg") no-repeat center center
	background-size cover

.block-11
	min-height 655px
	background url("../img/hero_image_11.jpg") no-repeat center center
	background-size cover

.final-cta
	min-height 120px
	background #000

//ОФОРМЛЕНИЕ_________________

.header-menu .container
	display flex
	justify-content space-between
	ul
		margin 0
		padding 0
		list-style none
		li 
			display inline-block
			margin 0
			padding 0
			a
				display block
				text-decoration none
				font-family 'Tahoma', sans-serif
				margin 0
				padding 23px 23px
				font-size 18px
				line-height 24px
				color #fff
				text-transform uppercase
				&:hover
						background #242424
	.phone-block
		width 260px
		text-align right
		padding-top 12px
		.phone
			font-family 'Roboto', sans-serif
			font-size 20px
			font-weight 100
			margin-bottom 4px
			position relative
			&after
				width 18px
				height 24px
				left 65px
				content ""
				background url("../img/phone-icon.png")
				position absolute
		.phone-link
			font-family 'Roboto'
			font-size 14px
			font-weight 100
			text-decoration none
			color #fff
			border-bottom 1px dotted #fff

.start-block
	padding-top 200px
	h2
		margin 0
		padding 0
		color #fff
		font-family Helvetica medium
		font-size 47px
		font-weight 400
		line-height 72px
		margin-bottom 60px
	.h1-shadow
		width 616px
		height 118px
		background-color rgba(0, 0, 0, 0.5)
		margin-bottom 55px
		h1
			color #fff
			font-family Helvetica light
			font-size 32px
			font-weight 100
			line-height 42px
			span
				font-family Helvetica medium
				font-weight 700
				text-decoration line-through
	
.btn
	background none
	outline none
	border 2px solid #fff
	border-radius 10px
	font-family Helvetica light
	width 327px
	height 70px
	color #fff
	font-size 40px
	font-weight 100
	line-height 48px
	cursor pointer
	&:hover
		background rgba(0, 0, 0, 0.5)

.btn-hero
	margin-left 143px
				
.block-2
	.block-2-left
		width 455px
		height 320px
		background rgba(0, 0, 0, 0.6)
		float left
		color #fff
		margin-top 50px
		padding 20px
		h3
			margin 0
			padding 0
			font-family Roboto
			font-size 29px
			line-height 34px
			font-weight 100
		p
			font-family Roboto
			font-size 17px
			line-height 26px
			font-weight 100
			color rgba(255, 255, 255, 0.7)
	.block-2-right
		width 455px
		height 320px
		background rgba(0, 0, 0, 0.5)
		float right
		color #fff
		margin-top 380px
		padding 20px
		h3
			margin 0
			padding 0
			font-family Roboto
			font-size 29px
			line-height 34px
			font-weight 100
		p
			font-family Roboto
			font-size 17px
			line-height 26px
			font-weight 100
			color rgba(255, 255, 255, 0.7)



.block-3
	.block-3-left
		min-height 570px
		width 350px
		padding-right 50px
		display block
		.item
			display block
			text-align right
			position relative
			img
				position absolute
				top 0
				right -50px
			.lamp
				right -40px

	.block-3-right
		min-height 570px
		width 350px
		padding-left 50px
		display block
		.item
			display block
			text-align left
			position relative
			img
				position absolute
				top 0
				left -50px
	span
		display block
		margin 0
		margin-bottom 15px
		padding 0
		font-family PT Sans
		font-size 22px
		line-height 26px
		font-weight 800
	p
		margin 0
		margin-bottom 55px
		padding 0
		font-family PT Sans
		font-size 16px
		line-height 18px
		font-weight 300



.block-4
	.headline h2
		margin 0
		padding 0
		margin-bottom 5px
		font-family Open Sans
		font-size 58px
		line-height 79px
		font-weight 100
		text-align center

.mirror-1 div, .mirror-3 div
	display flex
	justify-content flex-end
.mirror-2 div, .mirror-4 div
	display flex
	justify-content flex-start

.block-4 .mirror-desc
	display block
	margin-top 145px
	width 375px
	min-height 420px
	.spec
		display block
		width 375px
		min-height 310px
		background #fff
		margin-bottom 36px
		padding 20px
		position relative
		h2
			display inline-block
			font-family Roboto
			font-size 38px
			line-height 44px
			font-weight 100
			text-align left
		h2.upper
			font-weight 700
			margin-bottom 5px
		h3
			margin 0
			padding 0
			font-family Roboto
			font-size 20px
			line-height 24px
			font-weight 100
			text-align left
		hr
			width 230px
			position absolute
		ul
			margin 0
			padding 0
			padding-left 20px
			margin-top 20px
			margin-bottom 15px
			li
				margin 0
				padding 0
				font-family Open Sans
				font-size 18px
				line-height 24px
				font-weight 100
		.old-price
			margin-bottom 15px
			font-family Helvetica Neue
			font-size 36px
			line-height 43px
			font-weight 400
			text-decoration line-through
		.new-price
			font-family Helvetica Neue
			font-size 32px
			line-height 43px
			font-weight 100


	button
		margin-left 24px
		&:hover
			background rgba(255, 255, 255, 0.5)


.block-5
	padding-top 30px
	h2
		margin 0
		padding 0
		margin-bottom 30px
		font-family Open Sans
		font-size 38px
		line-height 52px
		font-weight 100
		color #fff
	.color-item
		width 300px
		color #fff
		text-align center
		margin-bottom 75px
		h3
			margin 0
			padding 0
			font-family "Helvetica Neue"
			font-size 24px
			line-height 28px
			font-weight 100
			margin-bottom 20px
	h2.other
		margin 0
		padding 0
		font-family Open Sans
		font-size 38px
		line-height 52px
		font-weight 100
		margin-bottom 30px
	span.other-desc
		margin 0
		padding 0
		font-family Helvetica Neue
		font-size 26px
		line-height 36px
		font-weight 100
		color #fff

	button
		font-size 32px
		font-family Helvetica Neue
		display block
		margin-top 35px
		&:hover
			background rgba(255, 255, 255, 0.5)

.block-6
	.container
		border-top 1px solid transparent
	.contain-item
		width 485px
		height 80px
		margin 0
		padding 0
		padding-left 80px
		position relative
		margin-top 35px
		img
			position absolute
			left 0
		p
			margin 0
			padding 0
			padding-left 10px
			padding-top 5px
			font-family "Open Sans"
			font-size 20px
			line-height 27px
			font-weight 100
			color #fff

.block-7
	padding-top 20px
	h2
		margin 0
		padding 0
		font-family "Open Sans"
		font-size 58px
		line-height 79px
		font-weight 100
		color #000
		text-align center
		margin-bottom 30px
	.order-item
		width 300px
		img
			display block
			width 142px
			height 142px
			margin 0 auto
			margin-bottom 20px
		p
			margin 0
			padding 0
			font-family "Open Sans"
			font-size 24px
			line-height 33px
			font-weight 100
			color #000
			text-align left

.block-8
	h2
		margin 0
		padding 0
		font-family "Open Sans"
		font-size 58px
		line-height 79px
		font-weight 100
		color #fff
		text-align center
		margin-bottom 25px
	.quest-left, .quest-right
		width 465px
	.quest-item
		margin-bottom 40px
	h3
		margin 0
		padding 0
		font-family "Open Sans"
		font-size 24px
		line-height 33px
		font-weight 100
		color #fff
		text-align left
		margin-bottom 15px
	p
		margin 0
		padding 0
		font-family "Open Sans"
		font-size 18px
		line-height 24px
		font-weight 100
		color rgba(255, 255, 255, 0.7)
		text-align left
		margin-bottom 25px


.block-9
	padding-bottom 1px
	h2
		margin 0
		padding 0
		font-family "Open Sans"
		font-size 58px
		line-height 79px
		font-weight 100
		color #000
		text-align center
		margin-bottom 30px
	.reviews
		display flex
		justify-content space-between
		margin-bottom 30px
	.reviews-item
		width 455px
		height 300px
		position relative
	button
		position absolute
		bottom 20px
		left 100px
		font-size 24px
		line-height 28px
		width 250px
		height 55px
		background rgba(0, 0, 0, 0.7)
		font-family Helvetica Neue
		&:hover
			background rgba(255, 255, 255, 0.5)

.block-10
	padding-top 70px
	.container
		display flex
		justify-content space-between
	.numbers
		width 375px
		height 260px
		background #fff
		padding-top 25px
	.title
		display block
		margin 0
		padding 0
		font-family PT Sans
		font-size 26px
		line-height 30px
		font-weight 100
		color #000
		text-align center
		margin-bottom 13px
	.number
		display block
		margin 0
		padding 0
		font-family PT Sans
		font-size 96px
		line-height 112px
		font-weight 700
		color #000
		text-align center
		margin-bottom 13px
	.subject
		display block
		margin 0
		padding 0
		width 270px
		margin 0 auto
		font-family PT Sans
		font-size 26px
		line-height 30px
		font-weight 700
		color #fff
		background #000
		text-align center
		margin-bottom 13px


.block-11
	padding-bottom 1px
	h2
		margin 0
		padding 0
		font-family "Open Sans"
		font-size 58px
		line-height 79px
		font-weight 100
		color #000
		text-align center
		margin-bottom 20px
	h3
		margin 0
		padding 0
		font-family "Open Sans"
		font-size 36px
		line-height 49px
		font-weight 100
		color #000
		text-align center
		margin-bottom 20px


.final-cta
	.container
		display flex
		justify-content space-between
