@font-face {
    font-family: HelveticaNeue; /* Гарнитура шрифта */
    src: url(fonts/HelveticaNeue.ttf); /* Для остальных браузеров */
   }
@font-face {
    font-family: HelveticaNeueThin; /* Гарнитура шрифта */
    src: url(fonts/HelveticaNeue-Thin.ttf); /* Для остальных браузеров */
   }


*
	box-sizing inherit

html
	box-sizing border-box
	background #fff 
	font 16px PT Sans, sans-serif
body
	overflow: auto;
	overflow-x: hidden;
.container
	width 960px
	padding 0 10px
	margin 0 auto

.flex-wrapper
	display flex
	justify-content space-between

.header-menu
	min-height 70px
	background #151515
	color #fff
	position fixed
	width 100%
	z-index 10
	img
		margin-top 5px

.start-block
	min-height 820px
	background url("../img/hero_image_1.jpg") no-repeat center center
	background-size cover

.block-2
	min-height 735px
	background url("../img/hero_image_2.jpg") no-repeat center center
	background-size cover

.block-3
	min-height 680px
	background url("../img/hero_image_3.jpg") no-repeat center center
	background-size cover
	position relative
	padding-top 50px
	img
		top 80px
	div
		display flex

.block-4
	.mirror-1
		min-height 700px
		background url("../img/mirror1.jpg") no-repeat center center
		background-size cover
	.mirror-2
		min-height 700px
		background url("../img/mirror2.jpg") no-repeat center center
		background-size cover
	.mirror-3
		min-height 700px
		background url("../img/mirror3.jpg") no-repeat center center
		background-size cover
	.mirror-4
		min-height 700px
		background url("../img/mirror4.jpg") no-repeat center center
		background-size cover


.block-5
	min-height 890px
	background url("../img/hero_image_5.jpg") no-repeat center center
	background-size cover

.block-6
	min-height 500px
	background #000
	.container
		min-height 500px
		background url("../img/hero_image_6_center.jpg") no-repeat center center

.block-7
	min-height 490px
	background url("../img/hero_image_7.jpg") no-repeat center center
	background-size cover

.block-8
	min-height 618px
	background url("../img/hero_image_8.jpg") no-repeat center center
	background-size cover

.block-9
	min-height 770px
	background url("../img/hero_image_9.jpg") no-repeat center center
	background-size cover

.block-10
	min-height 400px
	background url("../img/hero_image_10.jpg") no-repeat center center
	background-size cover

.block-11
	min-height 470px
	background url("../img/hero_image_11.jpg") no-repeat center center
	background-size cover

.main-footer
	min-height 88px
	background #151515



//MODAL WINDOW--------------------

.modal-content
	display none
	position  fixed
	top 120px
	left 50%
	margin-left -420px
	width 840px
	height 730px
	color #000
	background #fff
	z-index 30
	form
		display flex
		justify-content space-between
	label
		display block
		margin-bottom: 10px
		color #000
		font-family Roboto
		font-size 23px
		font-weight 100
		line-height 26px
		margin-bottom 30px
		.bold
			font-weight 400
	.modal-left
		width: 475px
		min-height: 730px
		padding-top: 30px
		padding-left: 30px
		outline 1px solid red
	.modal-right
		width: 360px
		min-height: 730px
		padding-top: 30px
		padding-left: 30px
		outline 1px solid red
	h3
		margin 0
		padding 0
		color #000
		font-family Roboto
		font-size 32px
		font-weight 400
		line-height 38px
		margin-bottom 30px


.modal-content-show
	display block

.modal-content-close
	position absolute
	top 5px
	right -34px
	width 22px
	height 22px
	font-size 0
	background transparent
	border 0
	outline 0
	cursor pointer
	transition 0.5s
	&:hover
		transform: scale(1.5)

.modal-content-close::before,
.modal-content-close::after
	content ""
	position absolute
	width 19px
	height 3px
	background #fff
	border-radius 1px
	top 10px
	left 2px

.modal-content-close::before
	transform rotate(45deg)
.modal-content-close::after
	transform rotate(-45deg)


.modal-overlay
	display none
	position fixed
	top 0
	left 0
	z-index 20
	width 100%
	height 100%
	background: rgba(0, 0, 0, 0.8)

.modal-overlay-show
	display block

//ОФОРМЛЕНИЕ_________________

.header-menu .container
	display flex
	justify-content space-between
	ul
		margin 0
		padding 0
		list-style none
		li 
			display inline-block
			margin 0
			padding 0
			a
				display block
				text-decoration none
				font-family Tahoma, sans-serif
				margin 0
				padding 23px 23px
				font-size 18px
				line-height 24px
				color #fff
				text-transform uppercase
				&:hover
						background #242424
	.phone-block
		width 260px
		text-align right
		padding-top 12px
		.phone
			font-family Roboto, sans-serif
			font-size 20px
			font-weight 100
			margin-bottom 4px
			position relative
			&:after
				width 18px
				height 24px
				left 65px
				content ""
				background url("../img/phone-icon.png")
				position absolute
		.phone-link
			font-family Roboto
			font-size 14px
			font-weight 100
			text-decoration none
			color #fff
			border-bottom 1px dotted #fff
			&:hover
				border none

.start-block
	padding-top 200px
	position: relative
	h2
		margin 0
		padding 0
		color #fff
		font-family HelveticaNeue 
		font-size 47px
		font-weight 400
		line-height 72px
		margin-bottom 60px
	.h1-shadow
		width 597px
		height 125px
		background-color rgba(0, 0, 0, 0.5)
		margin-bottom 55px
		h1
			color #fff
			font-family Roboto
			font-size 32px
			font-weight 100
			line-height 42px
			span
				font-family HelveticaNeue 
				font-weight 700
				text-decoration line-through
	
.btn
	background none
	outline none
	border 2px solid #fff
	border-radius 10px
	font-family Open Sans
	width 327px
	height 70px
	color #fff
	font-size 40px
	font-weight 300
	line-height 48px
	cursor pointer
	&:hover
		background rgba(0, 0, 0, 0.5)

.btn-hero
	margin-left 143px
	
.arrow
	width 108px
	height 94px
	display block
	background url("../img/arrow.png")
	opacity 0.8
	left 50%
	bottom -37px
	position absolute
	&:hover
		opacity 1
.hidden
	display: none

.block-2
	.block-2-left
		width 455px
		height 320px
		background rgba(0, 0, 0, 0.6)
		float left
		color #fff
		margin-top 50px
		padding 20px
		h3
			margin 0
			padding 0
			font-family Roboto
			font-size 29px
			line-height 34px
			font-weight 100
		p
			font-family Roboto
			font-size 17px
			line-height 26px
			font-weight 100
			color rgba(255, 255, 255, 0.8)
	.block-2-right
		width 455px
		height 320px
		background rgba(0, 0, 0, 0.5)
		float right
		color #fff
		margin-top 380px
		padding 20px
		h3
			margin 0
			padding 0
			font-family Roboto
			font-size 29px
			line-height 34px
			font-weight 100
		p
			font-family Roboto
			font-size 17px
			line-height 26px
			font-weight 100
			color rgba(255, 255, 255, 0.8)



.block-3
	.block-3-left
		min-height 570px
		width 350px
		padding-right 50px
		display block
		.item
			display block
			text-align right
			position relative
			img
				position absolute
				top 0
				right -50px
			.lamp
				right -40px

	.block-3-right
		min-height 570px
		width 350px
		padding-left 50px
		display block
		.item
			display block
			text-align left
			position relative
			img
				position absolute
				top 0
				left -50px
	span
		display block
		margin 0
		margin-bottom 15px
		padding 0
		font-family PT Sans
		font-size 22px
		line-height 26px
		font-weight 800
	p
		margin 0
		margin-bottom 55px
		padding 0
		font-family PT Sans
		font-size 16px
		line-height 18px
		font-weight 300



.block-4
	.headline h2
		margin 0
		padding 0
		margin-bottom 5px
		font-family Open Sans
		font-size 58px
		line-height 79px
		font-weight 100
		text-align center

.mirror-1 div, .mirror-3 div
	display flex
	justify-content flex-end
.mirror-2 div, .mirror-4 div
	display flex
	justify-content flex-start

.block-4 .mirror-desc
	display block
	margin-top 145px
	width 375px
	min-height 420px
	.spec
		display block
		width 375px
		min-height 310px
		background #fff
		margin-bottom 36px
		padding 20px
		position relative
		h2
			display inline-block
			font-family Roboto
			font-size 38px
			line-height 44px
			font-weight 100
			text-align left
		h2.upper
			font-weight 700
			margin-bottom 5px
		h3
			margin 0
			padding 0
			font-family Roboto
			font-size 20px
			line-height 24px
			font-weight 100
			text-align left
		hr
			width 230px
			position absolute
		ul
			margin 0
			padding 0
			padding-left 20px
			margin-top 20px
			margin-bottom 15px
			li
				margin 0
				padding 0
				font-family Open Sans
				font-size 18px
				line-height 24px
				font-weight 100
		.old-price
			margin-bottom 15px
			font-size 36px
			line-height 43px
			font-weight 400
			text-decoration line-through
		.new-price
			font-family HelveticaNeueThin 
			font-size 32px
			line-height 43px
			font-weight 100


	button
		margin-left 24px
		&:hover
			background rgba(255, 255, 255, 0.5)


.block-5
	padding-top 30px
	h2
		margin 0
		padding 0
		margin-bottom 30px
		font-family Open Sans
		font-size 38px
		line-height 52px
		font-weight 100
		color #fff
	.color-item
		width 300px
		color #fff
		text-align center
		margin-bottom 75px
		h3
			margin 0
			padding 0
			font-family HelveticaNeue 
			font-size 24px
			line-height 28px
			font-weight 100
			margin-bottom 20px
	h2.other
		margin 0
		padding 0
		font-family Open Sans
		font-size 38px
		line-height 52px
		font-weight 100
		margin-bottom 30px
	span.other-desc
		margin 0
		padding 0
		font-family Open Sans 
		font-size 26px
		line-height 36px
		font-weight 100
		color #fff

	.btn-to-a
		display: inline-block
		font-size 32px
		font-family Open Sans
		font-weight 300
		margin: 0
		padding: 10px
		height: auto
		display block
		text-align: center
		margin-top 35px
		text-decoration: none
		&:hover
			background rgba(255, 255, 255, 0.5)
			

.block-6
	.container
		border-top 1px solid transparent
	.contain-item
		width 485px
		height 80px
		margin 0
		padding 0
		padding-left 80px
		position relative
		margin-top 35px
		img
			position absolute
			left 0
		p
			margin 0
			padding 0
			padding-left 10px
			padding-top 5px
			font-family Open Sans
			font-size 20px
			line-height 27px
			font-weight 100
			color #fff

.block-7
	padding-top 20px
	text-align center
	h2
		margin 0
		padding 0
		font-family Open Sans
		font-size 58px
		line-height 79px
		font-weight 100
		color #000
		text-align center
		margin-bottom 30px
	.order-item
		width 300px
		img
			display block
			width 142px
			height 142px
			margin 0 auto
			margin-bottom 20px
		p
			margin 0
			padding 0
			font-family Open Sans
			font-size 24px
			line-height 33px
			font-weight 100
			color #000
			text-align left
			margin-bottom: 20px
	.btn
		color #000
		border-color #000
		font-family Open Sans
		margin-bottom 30px
		&:hover
			background rgba(0, 0, 0, 0.15)

.block-8
	h2
		margin 0
		padding 0
		font-family Open Sans
		font-size 58px
		line-height 79px
		font-weight 100
		color #fff
		text-align center
		margin-bottom 25px
	.quest-left, .quest-right
		width 465px
	.quest-item
		margin-bottom 40px
	h3
		margin 0
		padding 0
		font-family Open Sans
		font-size 24px
		line-height 33px
		font-weight 100
		color #fff
		text-align left
		margin-bottom 15px
	p
		margin 0
		padding 0
		font-family Open Sans
		font-size 18px
		line-height 24px
		font-weight 100
		color rgba(255, 255, 255, 0.7)
		text-align left
		margin-bottom 25px


.block-9
	padding-bottom 1px
	h2
		margin 0
		padding 0
		font-family Open Sans
		font-size 58px
		line-height 79px
		font-weight 100
		color #000
		text-align center
		margin-bottom 30px
	.reviews
		display flex
		justify-content space-between
		margin-bottom 30px
	.reviews-item
		width 455px
		height 300px
		position relative
	button
		position absolute
		bottom 20px
		left 90px
		font-size 24px
		font-weight 100
		border 1px solid #fff
		line-height 28px
		width 270px
		height 55px
		background rgba(0, 0, 0, 0.7)
		font-family Open Sans
		&:hover
			background rgba(255, 255, 255, 0.5)
			color #000
			border-color #000

.block-10
	padding-top 70px
	transition 0.5s
	.container
		display flex
		justify-content space-between
	.numbers
		width 375px
		height 260px
		background #fff
		padding-top 10px
	.title
		display block
		margin 0
		padding 0
		font-family PT Sans
		font-size 26px
		line-height 30px
		font-weight 100
		color #000
		text-align center
		margin-bottom 20px
	.number
		display block
		margin 0
		padding 0
		font-family PT Sans
		font-size 160px
		line-height 112px
		font-weight 700
		color #000
		text-align center
		margin-bottom 35px
	.subject
		display block
		padding 0
		padding-bottom 2px
		width 270px
		margin 0 auto
		font-family PT Sans
		font-size 26px
		line-height 30px
		font-weight 700
		color #fff
		background #000
		text-align center
		margin-bottom 13px

.blur
	filter blur(5px) brightness(50%)
	transition 0.5s


.block-11
	padding-bottom 1px
	text-align center
	h2
		margin 0
		padding 0
		font-family Open Sans
		font-size 58px
		line-height 79px
		font-weight 100
		color #000
		text-align center
		margin-bottom 20px
	h3
		margin 0
		padding 0
		font-family Open Sans
		font-size 36px
		line-height 49px
		font-weight 100
		color #000
		text-align center
		margin-bottom 40px
	.call input
		margin: 0
		padding 5px
		display: block
		margin: 0 auto
		margin-bottom: 40px
		font-size 64px
		border none
		border-bottom 3px solid #000
		outline none
		font-family HelveticaNeueThin
		font-weight 100
		text-align center
		background rgba(255, 255, 255, 0.8)
	.btn
		color #000
		border-color #000
		font-family Open Sans
		margin-bottom 30px
		width auto
		&:hover
			background rgba(0, 0, 0, 0.15)


.main-footer
	.container
		display flex
		justify-content space-between
	.footer-logo
		margin-top: 12px
	.company
		width: 293px
		margin 0
		padding 0
		font-family HelveticaNeueThin
		font-size 16px
		line-height 22px
		font-weight 100
		text-align center
		color #fff
	.social-btn
		display inline-block
		width 43px
		height 43px
		margin 0 5px
		margin-top: 22px
		background #000000 url(../img/social_sprite.png) no-repeat center
		font-size 0
		vertical-align top
		transition filter 0.5s
		filter invert(100%)
		&:hover
			filter none
	.vk
		background-position: 3px -118px
	.insta
		background-position: 7px -59px

