.checkbox,
.radio {
  display: none;
}
.checkbox-custom,
.radio-custom {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #413548;
  border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}