<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Kelvin Mirror</title>
	<link rel="stylesheet" href="{{ paths.style }}/main.css">
</head>
<body>

    <header>
        <div class="header-menu">
            <div class="container">
                <a href="#"><img src="img/logo.png" alt=""></a>
                <ul>
                    <li><a href="#price">Цены</a></li>
                    <li><a href="#how">Как заказать</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
                <div class="phone-block">
                    <div class="phone">+7 (963) 075-99-60</div>
                    <a class="phone-link" href="#">Заказать обратный звонок</a>
                </div>
            </div>
        </div>
    </header>

    <div class="start-block">
        <div class="container">
            <div>
                <h2>НАНОСИТЕ МАКИЯЖ ПРАВИЛЬНО
                    ПОЧУВСТВУЙТЕ СЕБЯ ЗВЕЗДОЙ
                    ГОЛЛИВУДА!  
                </h2>
            </div>
            <div class="h1-shadow">
                <h1>Профессиональные гримерные зеркала,
                    свет для макияжа от <span>5900 рублей</span> 4890₽
                    в Челябинске
                </h1>
            </div>
            <button class="btn btn-hero">Купить</button>
        </div>
    </div>

    <div  class="block-2">
        <div class="container">
            <div class="block-2-left">
                <h3>
                    Идеальный макияж
                </h3>
                <p>
                    Благодаря правильному макияжному зеркалу вы видите мельчайшие детали и все переходы тона кожи<br><br>

Равномерное освещение лица, шеи и зоны декольте исключает лишние световые тени, вы получаете освещение, максимально приближенное к дневному свету, что является самым правильным по мнению визажистов Голливуда
                </p>
            </div>
            <div class="block-2-right">
                <h3>
                    Идеальный свет
                </h3>
                <p>
                    Идеальный обволакивающий свет - это то, что нужно для того, чтобы без труда подобрать look, подчеркивающий все ваши достоинства <br><br>

Наши зеркала позволят вам быть уверенной в своем образе на все 100% , ведь вы увидите себя так, как видят вас все окружающие при дневном свете
                </p>
            </div>
        </div>
    </div>

    <div class="block-3">
        <div class="container">
            <div class="block-3-left">
                <div class="item">
                    <span>Профессиональные
                    LED лампы</span>
                    <img class="lamp" src="img/item1.png" alt="">
                    <p>Светодиодные LED лампы дают спектр света, совпадающий с олнечным светом.
                        LED лампы не нагреваются и потребляют в разы меньше  энергии чем обычные лампы накаливания.</p>
                </div>
                <div class="item">
                    <span>Зеркала Mirox 3G</span>
                    <img src="img/item2.png" alt="">
                    <p>Мы используем зеркала Mirox 3G японской компании AGC. Невероятная чистота зеркальной поверхности и отсутствием искажений. Легко моются и отличаются высокой устойчивостью к чистящим средствам.</p>
                </div>
                <div class="item">
                    <span>Высочайшее качество</span>
                    <img src="img/item3.png" alt="">
                    <p>Каждое зеркало сделано вручную с любовью :) Кропотливая работа, внимание к деталям - благодаря этому создается неповторимое, надежное изделие на все времена. </p>
                </div>
            </div>
            <img src="img/girl.png" alt="">
            <div class="block-3-right">
                <div class="item">
                    <span>Низакая цена от производителя</span>
                    <img src="img/item4.png" alt="">
                    <p>Мы сами производим гримерные зеркала и сами их продаем, исключая посредников. </p>
                </div>
                <div class="item">
                    <span>Бесплатная доставка до двери</span>
                    <img src="img/item5.png" alt="">
                    <p>Доставим ваше зеркало прямо вам домой, где вы можете сразу проверить его работоспособность и оплатить.</p>
                </div>
                <div class="item">
                    <span>Честная гарантия</span>
                    <img src="img/item6.png" alt="">
                    <p>Бесплатно заменим перегоревшие лампы в течение 2-х лет. Разбитое зеркало не является гарантийным случаем, но мы можем все исправить :) </p>
                </div>
            </div>
        </div>
    </div>

    <div class="block-4" id="price">
        <div class="headline">
            <div class="container">
                <h2>Цены и размеры</h2>
            </div>
            <div class="mirror-1">
                <div class="container">
                    <div class="mirror-desc">
                        <div class="spec">
                            <h2>Зеркало&nbsp</h2><h2 class="upper">ГИГАНТ</h2>
                            <h3>Гримерное зеркало во весь рост</h3>
                            <hr>
                            <ul>
                                <li>16 светодиодных ламп</li>
                                <li>удобная кнопка вкл\выкл</li>
                                <li>шнур питания 5м</li>
                                <li>3 цвета на выбор</li>
                                <li>2 запасные лампы</li>
                            </ul>
                            <span class="old-price">17990P</span>
                            <span class="new-price">15990P</span>
                        </div>
                        <button class="btn">Купить</button>
                    </div>
                </div>
            </div>
            <div class="mirror-2">
                <div class="container">
                    <div class="mirror-desc">
                        <div class="spec">
                            <h2>Зеркало&nbsp</h2><h2 class="upper">ГИГАНТ</h2>
                            <h3>Гримерное зеркало во весь рост</h3>
                            <hr>
                            <ul>
                                <li>16 светодиодных ламп</li>
                                <li>удобная кнопка вкл\выкл</li>
                                <li>шнур питания 5м</li>
                                <li>3 цвета на выбор</li>
                                <li>2 запасные лампы</li>
                            </ul>
                            <span class="old-price">17990P</span>
                            <span class="new-price">15990P</span>
                        </div>
                        <button class="btn">Купить</button>
                    </div>
                </div>
            </div>
            <div class="mirror-3">
                <div class="container">
                    <div class="mirror-desc">
                        <div class="spec">
                            <h2>Зеркало&nbsp</h2><h2 class="upper">ГИГАНТ</h2>
                            <h3>Гримерное зеркало во весь рост</h3>
                            <hr>
                            <ul>
                                <li>16 светодиодных ламп</li>
                                <li>удобная кнопка вкл\выкл</li>
                                <li>шнур питания 5м</li>
                                <li>3 цвета на выбор</li>
                                <li>2 запасные лампы</li>
                            </ul>
                            <span class="old-price">17990P</span>
                            <span class="new-price">15990P</span>
                        </div>
                        <button class="btn">Купить</button>
                    </div>
                </div>
            </div>
            <div class="mirror-4">
                <div class="container">
                    <div class="mirror-desc">
                        <div class="spec">
                            <h2>Зеркало&nbsp</h2><h2 class="upper">ГИГАНТ</h2>
                            <h3>Гримерное зеркало во весь рост</h3>
                            <hr>
                            <ul>
                                <li>16 светодиодных ламп</li>
                                <li>удобная кнопка вкл\выкл</li>
                                <li>шнур питания 5м</li>
                                <li>3 цвета на выбор</li>
                                <li>2 запасные лампы</li>
                            </ul>
                            <span class="old-price">17990P</span>
                            <span class="new-price">15990P</span>
                        </div>
                        <button class="btn">Купить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-5">
        <div class="container">
            <h2>3 цветовых варианта</h2>
            <div class="flex-wrapper">
                <div class="color-item">
                    <h3>Черный глянцевый</h3>
                    <img src="img/black.jpg" alt="">
                </div>
                <div class="color-item">
                    <h3>Белый глянцевый</h3>
                    <img src="img/white.jpg" alt="">
                </div>
                <div class="color-item">
                    <h3>Дуб</h3>
                    <img src="img/dub.jpg" alt="">
                </div>
            </div>
            <h2 class="other">Нужно зеркало другого цвета или размера?</h2>
            <span class="other-desc">Мы делаем любые зеркала на заказ. Звоните +7 (963) 075-99-60  либо оставляйте заявку и мы вам перезвоним.</span>
            <button class="btn">Перезвоните мне</button>
        </div>
    </div>

    <div class="block-6">
        <div class="container">
            <div class="contain-item">
                <img src="img/item7.png" alt="">
                <p>Светодиодные LED лампы не греются и потребляют минимум электричества.</p>
            </div>
            <div class="contain-item">
                <img src="img/item8.png" alt="">
                <p>Настоящее экологически чистое дерево.
                    3 расцветки, натуральные цвета.</p>
            </div>
            <div class="contain-item">
                <img src="img/item9.png" alt="">
                <p>Японские зеркала Mirox 3G. Кристально чистое полотно без искажений.</p>
            </div>
            <div class="contain-item">
                <img src="img/item10.png" alt="">
                <p>Миниатюрный выключатель позволит
                    удобно включать и выключать зеркало.</p>
            </div>
        </div>
    </div>

    <div class="block-7" id="how">
        <div class="container">
            <h2>Как заказать?</h2>
            <div class="flex-wrapper">
                <div class="order-item">
                    <img src="img/order-1.png" alt="">
                    <p>Выберите модель зеркала, cвяжитесь с нами через форму заказа или по телефону <br>
                        +7 (963) 075-99-60</p>
                </div>
                <div class="order-item">
                    <img src="img/order-2.png" alt="">
                    <p>Мы обговариваем сроки и условия доставки. Вы подтверждаете заказ.</p>
                </div>
                <div class="order-item">
                    <img src="img/order-3.png" alt="">
                    <p>Мы доставляем вам зеркало, вы проверяете его и производите оплату.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="block-8">
        <div class="container">
            <h2>Частые вопросы </h2>
            <div class="flex-wrapper">
                <div class="quest-left">
                    <div class="quest-item">
                        <h3>Как осуществляется оплата и доставка?</h3>
                        <p>Если вы из Челябинска, то доставка до вашего дома бесплатная. Оплата при получении.
                        </p>
                        <p>Для клиентов из других регионов доставка происходит транспортной компанией. Оплатить зеркало можно любым удобным для вас способом(перевод на карту, электронные деньги). </p>
                    </div>
                    <div class="quest-item">
                        <h3>Мне нужно зеркало другого размера и цвета.</h3>
                        <p>Мы можем изготовить гримерное зеркало абсолютно любого размера и формы. Также можем сделать для вас индивидуальный цвет. Свяжитесь с нами и мы обсудим детали.
                        </p>
                    </div>
                </div>
                <div class="quest-right">
                    <div class="quest-item">
                        <h3>Входят ли лампочки в стоимость зеркала?</h3>
                        <p>Да, лампочти включены в стоимость гримерного зеркала и световых стоек.
                        </p>
                    </div>
                    <div class="quest-item">
                        <h3>Что если перегорит лампочка?</h3>
                        <p>Светодиодные лампы прослужат вам приерно 6 лет.
                            Но вы всегда можете приобрести у нас такие же лампочки. Кроме того мы комплектуем наши изделия запасными лампами.
                        </p>
                    </div>
                    <div class="quest-item">
                        <h3>Что если мне пришло разбитое зеркало?</h3>
                        <p>Если вы получили разбитое зеркало, то мы бесплатно его заменим. Расходы на транспортировку берем на себя.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-9">
        <div class="container">
            <h2>Отзывы клиентов</h2>
            <div class="reviews">
                <div class="reviews-item">
                    <img src="img/rew1.jpg" alt="">
                    <button class="btn">Посмотреть отзыв</button>
                </div>
                <div class="reviews-item">
                    <img src="img/rew2.jpg" alt="">
                    <button class="btn">Посмотреть отзыв</button>
                </div>
            </div>
            <div class="reviews">
                <div class="reviews-item">
                    <img src="img/rew3.jpg" alt="">
                    <button class="btn">Посмотреть отзыв</button>
                </div>
                <div class="reviews-item">
                    <img src="img/rew4.jpg" alt="">
                    <button class="btn">Посмотреть отзыв</button>
                </div>
            </div>
        </div>
    </div>

    <div class="block-10">
        <div class="container">
            <div class="numbers">
                <span class="title">более</span>
                <span class="number">450</span>
                <span class="subject">изготовленных зеркал</span>
            </div>
            <div class="numbers">
                <span class="title">клиенты из</span>
                <span class="number">18</span>
                <span class="subject">городов</span>
            </div>
        </div>
    </div>

    <div class="block-11">
        <div class="container">
            <h2>Остались вопросы?</h2>
            <h3>Задайте их нашему мастеру и получите
                ответ в течение 15 минут!</h3>

        </div>
    </div>

    <footer class="final-cta">
        <div class="container">
            <a href="#"><img src="img/logo.png" alt=""></a>
            <div class="social-btns">
                social
            </div>
        </div>
    </footer>
</body>	
</html>