<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Kelvin Mirror</title>
	<link rel="stylesheet" href="{{ paths.style }}/main.css">
</head>
<body>

    <header>
        <div class="header-menu">
            <div class="container">
                <a href="#"><img src="img/logo.png" alt=""></a>
                <ul>
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Как заказать</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
                <div class="phone-block">
                    <div class="phone">+7 (963) 075-99-60</div>
                    <a class="phone-link" href="#">Заказать обратный звонок</a>
                </div>
            </div>
        </div>
    </header>

    <div class="start-block">
        <div class="container">
            <div>
                <h2>НАНОСИТЕ МАКИЯЖ ПРАВИЛЬНО
                    ПОЧУВСТВУЙТЕ СЕБЯ ЗВЕЗДОЙ
                    ГОЛЛИВУДА!  
                </h2>
            </div>
            <div class="h1-shadow">
                <h1>Профессиональные гримерные зеркала,
                    свет для макияжа от <span>5900 рублей</span> 4890₽
                    в Челябинске
                </h1>
            </div>
            <button class="btn btn-white">Купить</button>
        </div>
    </div>

    <div class="block-2">
        <div class="container">
            <div class="block-2-left">
                <h3>
                    Идеальный макияж
                </h3>
                <p>
                    Благодаря правильному макияжному зеркалу вы видите мельчайшие детали и все переходы тона кожи<br><br>

Равномерное освещение лица, шеи и зоны декольте исключает лишние световые тени, вы получаете освещение, максимально приближенное к дневному свету, что является самым правильным по мнению визажистов Голливуда
                </p>
            </div>
            <div class="block-2-right">
                <h3>
                    Идеальный свет
                </h3>
                <p>
                    Идеальный обволакивающий свет - это то, что нужно для того, чтобы без труда подобрать look, подчеркивающий все ваши достоинства <br><br>

Наши зеркала позволят вам быть уверенной в своем образе на все 100% , ведь вы увидите себя так, как видят вас все окружающие при дневном свете
                </p>
            </div>
        </div>
    </div>

    <div class="block-3">
        <div class="container">
            <div class="block-3-left">
                <div class="item">
                    <span>Профессиональные
                    LED лампы</span>
                    <img class="lamp" src="img/item1.png" alt="">
                    <p>Светодиодные LED лампы дают спектр света, совпадающий с олнечным светом.
                        LED лампы не нагреваются и потребляют в разы меньше  энергии чем обычные лампы накаливания.</p>
                </div>
                <div class="item">
                    <span>Зеркала Mirox 3G</span>
                    <img src="img/item2.png" alt="">
                    <p>Мы используем зеркала Mirox 3G японской компании AGC. Невероятная чистота зеркальной поверхности и отсутствием искажений. Легко моются и отличаются высокой устойчивостью к чистящим средствам.</p>
                </div>
                <div class="item">
                    <span>Высочайшее качество</span>
                    <img src="img/item3.png" alt="">
                    <p>Каждое зеркало сделано вручную с любовью :) Кропотливая работа, внимание к деталям - благодаря этому создается неповторимое, надежное изделие на все времена. </p>
                </div>
            </div>
            <img src="img/girl.png" alt="">
            <div class="block-3-right">
                <div class="item">
                    <span>Низакая цена от производителя</span>
                    <img src="img/item4.png" alt="">
                    <p>Мы сами производим гримерные зеркала и сами их продаем, исключая посредников. </p>
                </div>
                <div class="item">
                    <span>Бесплатная доставка до двери</span>
                    <img src="img/item5.png" alt="">
                    <p>Доставим ваше зеркало прямо вам домой, где вы можете сразу проверить его работоспособность и оплатить.</p>
                </div>
                <div class="item">
                    <span>Честная гарантия</span>
                    <img src="img/item6.png" alt="">
                    <p>Бесплатно заменим перегоревшие лампы в течение 2-х лет. Разбитое зеркало не является гарантийным случаем, но мы можем все исправить :) </p>
                </div>
            </div>
        </div>
    </div>

    <div class="block-4">
        <div class="headline">
            <div class="container">
                <h2>Цены и размеры</h2>
            </div>
            <div class="mirror-1"></div>
            <div class="mirror-2"></div>
            <div class="mirror-3"></div>
            <div class="mirror-4"></div>
        </div>
    </div>
</body>	
</html>